fastapi[standard]
fastapi-utils[all]
prometheus-fastapi-instrumentator
plexapi
uvicorn
starlette
pydantic
pydantic_core
typing_extensions
typing_inspection
annotated_types
anyio
sniffio
click
h11
prometheus_client
requests
urllib3
idna
certifi
